#content_box_T1 {
    margin-top: -8px;
    height: 700px;
    background: rgba(110,120,87, .25);
}
#content_box_T1 p {
    padding-top: 1em;
}

#footerSeparatorT {
    background-color: #97d700;
    padding: 0.1em;
    height: 0;
    margin-top: 1em;
    overflow: hidden;
}